<script language="speedscript">
/*-----------------------------------------------------------------------*
  File........: freecompile.html
  Version.....: 1.03 - 2/5/2000
  Description : Compile one or more files in the same directory
  Input Param : none
  Output Param: <none>
  Author......: S.E. Southwell - USI
  Copyright...: FreeFramework Project - http://www.freeframework.org
  Created.....: 5/10/2000
  Notes.......:
 *-----------------------------------------------------------------------*/
{ ffw/lib/ffw_global.i }                    /*PATH SETTINGS AND OTHER GENERAL THINGS*/
{ ffw/lib/ffpplib.i }
{ ffw/lib/filetools.i }
{ ffw/lib/lognote.i }

IF NOT devCheck() THEN DO:
	logNote("Caution","{&file-name} was requested by " + remote_addr + " but could not be run with the agents in Production mode.").
	ShowErrorScreen("Unable to run {&file-name}.  Request was logged and will be reviewed.").  
	RETURN.
END.

/*From the webrunpath specified in the .ini file*/
DEFINE SHARED VAR v-webrunpath		AS CHAR    NO-UNDO. /*list of directories from which we can run webobjects*/
 
DEFINE VAR v-directory 	AS CHAR NO-UNDO.
DEFINE VAR v-filelist	AS CHAR NO-UNDO.
DEFINE VAR v-errmsg     AS CHAR NO-UNDO.
DEFINE VAR v-filecount  AS INT NO-UNDO.
DEFINE VAR v-success    AS LOGICAL NO-UNDO. /*Whether it compiled or not*/
DEFINE VAR v-thisfiletype AS CHAR NO-UNDO.
DEFINE VAR v-tempfilename AS CHAR NO-UNDO.

ASSIGN
 v-filelist = GET-VALUE("filename")
 v-directory = GET-VALUE("directory") + "{&SLASH}"
.

</script>
<html>
<head>
	<title>FreeFrameWork Compiler</title>
	<link rel="STYLESHEET" type="TEXT/CSS" href="`ffstyles`freestyle.css">
</head>

<body>
<% IF MakeTempW(v-directory + v-filelist,INPUT-OUTPUT v-tempfilename) THEN DO: %>
<img src="`ffimages`good.gif" height="25" width="25" align="absbottom">&nbsp;
<span class="success">
`v-directory``v-filelist` was saved as a temporary .w file.
</span>
<a href="freeview.html?filename=`url-encode(v-tempfilename,"query")`" title="View the temporary .w file.">
<img src="`ffimages`u-view.gif" alt="View" border="0"></a>
<% END. ELSE DO: %>
<img src="`ffimages`bad.gif" height="25" width="25" align="absbottom">&nbsp;
<span class="failure">
`v-directory``v-filelist` could not be saved as a temporary .w file.
</span>

<% END. %>
<HR>
<a href="freefiletools.html?directory=`url-encode(right-trim(v-directory,"{&SLASH}"),"query")`&filename=`url-encode(v-filelist,"query")`" onclick="history.back(); return false;">[Back to Compile Results]</a>
<a href="freefiletools.html?directory=`url-encode(right-trim(v-directory,"{&SLASH}"),"query")`&filename=`url-encode(v-filelist,"query")`">[Back to File Tools]</a>
</body>
</html>

